/* Victor Giovannoni Vernalha 10786159 */

body{
	overflow: hidden;
}


article{
	background-color:#eee;
	padding:10px;
}

p{
	font-family: arial;
	font-size: 14pt;
	text-align: right;
	color: red;
}

header{

}

#menu_header{
	color:blue;
}

#side_menu{
	background-color: white;
	position: fixed;
	z-index: 1;
	overflow-y: scroll;
	height: 99vh;
	width:20vw;
}

#references{
	padding:10%;
}

#timeline{
	width:100vw;
	height:20vh;
	text-align: center;
	color: white;
	background-color: blue;
}

#map{
	border-style: dotted;
	max-height: 80vh;
	overflow: scroll;
	margin:0px;
}