/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

:root {
    --primary-color1: #94240F;
    --primary-color: #BA341B;
    --primary-color-1: #CC6856;
    --secondary-color1: #574B24;
    --secondary-color: #7D6D39;
    --secondary-color-1: #968B69;
    --complementary-color1: #002113;
    --complementary-color: #004729;
    --complementary-color-1: #006E3F;
    --dark-color: #2C1A10;
    --dark-color-t: rgba(44, 26, 16, 0.1);
    --dark-color-1: #878280;
    --dark-color-2: #ADA7A4;
    --light-color1: #F2EFE6;
    --light-color: #FEFBF2;
    --light-color-t: rgba(254, 251, 242, 0.75);
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    box-shadow: none;
}

ul {
    list-style-type: none;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-color1);
    text-decoration: underline;
}

.fas {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .2s ease-in;
}

.icon-primary {
    color: var(--primary-color);
}

.icon-primary:hover {
    color: var(--primary-color1);
}

.icon-primary:active {
    color: var(--primary-color-1);
}

.icon-primary.dark {
    color: var(--primary-color1);
}

.icon-primary.dark:hover {
    background-color: var(--dark-color-t);
}

.bg-light {
    background-color: var(--light-color-t) !important;
}

.bg-light:hover {
    background-color: var(--light-color) !important;
}

.btn-primary {
    color: var(--light-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: var(--light-color);
    background-color: var(--primary-color1);
    border-color: var(--primary-color1);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: var(--light-color);
    background-color: var(--primary-color-1);
    border-color: var(--primary-color-1);
}

.btn-complementary {
    color: var(--light-color);
    background-color: var(--complementary-color);
    border-color: var(--complementary-color);
}

.btn-complementary:hover {
    color: var(--light-color);
    background-color: var(--complementary-color1);
    border-color: var(--complementary-color1);
}

.btn-complementary:not(:disabled):not(.disabled).active,
.btn-complementary:not(:disabled):not(.disabled):active,
.show>.btn-complementary.dropdown-toggle {
    color: var(--light-color);
    background-color: var(--complementary-color-1);
    border-color: var(--complementary-color-1);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--secondary-color1);
}

@media (max-width: 767px) {
    * {
        font-size: 12px;
    }
}