@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font: 400 16px Roboto, sans-serif;
    scrollbar-width: none;
}

body {
    width: 100vw;
    height: 100vh;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

main {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    transition: all 0.5s;
}

.close-button {
    position: absolute;
    right: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #efefef;
    font-size: 1.25rem;
}

.right-arrow {
    font-size: 1.5rem;
}

#side-menu {
    left: -100%;
    z-index: 5;

    height: 100%;
    min-height: 100vh;

    overflow-y: scroll;
    background: #8F0C0C;
    border: 1px solid rgba(0, 0, 0, 0.22);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 32px 32px 0px;

    transition: left 0.5s ease-in;
}

#side-menu-content h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;

    margin-bottom: 1rem;
}

#side-menu-content h2 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #979797;
}

#references {
    margin-top: 4rem;
}

#references ul li,
#references ul li a {
    list-style-type: none;
    margin: .5rem auto;
    font-weight: 700;
    font-size: 1.5rem;
    color: #BCB7B7;
}

a:hover {
    text-decoration: underline;
}

#map {
    width: 100%;
    height: 80%;
    overflow: scroll;
}
#map img {
    object-fit: cover;
}

#timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    padding: 8px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

#events-list {
    height: 100%;
    display: flex;
    align-content: space-between;
    justify-content: center;
    list-style: none;
}

#events-list li {
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
}

.icon {
    cursor: pointer;
    
    width: 3rem;
    z-index: 1;
    
    background: rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    padding: .5rem;
}

.icon:hover {
    background: rgba(0, 0, 0, 0.5);
}

#return-arrow {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: transparent;
}

#menu-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

::-webkit-scrollbar {
    display: none;
}